<div >
<p ><span id="label" style="padding-top: 50px;">Label</span>
<span id="label" style="padding-top: 50px;">Label</span>
<span id="label" style="padding-top: 50px;">Label</span></p>
</div>
<div >
    <p ><span id="label" style="padding-top: 50px;">Label</span>
    <span id="label" style="padding-top: 50px;">Label</span>
    <span id="label" style="padding-top: 50px;">Label</span></p>
    </div>
    <div >
        <p ><span id="label" style="padding-top: 50px;">Label</span>
        <span id="label" style="padding-top: 50px;">Label</span>
        <span id="label" style="padding-top: 50px;">Label</span></p>
        </div>